page-contact {

  .grid-item {
    float: left;
    width: 100px;
    height: 100px;
    background: #C09;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }
  .grid-item--width2 {
    width: 200px;
  }
  .grid-item--height2 {
    height: 200px;
  }
  
}
